<html>

<head>
    <title>Raspberry Pi Museum</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    {{{body}}}
    <small>version {{version}} - {{ddate}}</small>
</body>

</html>